* {
    margin: 0;
    padding: 0;  
    font-family: sans-serif;  
}

.container-embrulho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 249, 249);
}

.celulares {
   width: 400px;
   height: 100vh;
   box-sizing: border-box;
}

.celular-fundo {
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;  
    width: 410px;
    height: 95vh;
    margin-right: 100px;
}

.celular-back {
    box-sizing: border-box;
    width: 310px;
    height: 80vh;
    position: relative;
    margin-bottom: 25px;
}

.celular-back img {       
    width: 310px;
    height: 80vh;          
}

.celular-back-tela {    
    width: 196px;
    height: 71vh;  
    position: absolute;
    margin-bottom: 25px;
}

.celular-back-tela img { 
    display: flex;  
    justify-content: center;    
    width: 196px;
    height: 71vh;  
    position: absolute;      
}

.celular-principal {   
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100px;
    height: 80vh; 
    position: absolute;           
}

.celular-frente {
    box-sizing: border-box;
    width: 310px;
    height: 80vh;
    position: absolute;
    margin-top: 120px;
    margin-left: 100px;
    
}

.celular-frente-tela {    
    box-sizing: border-box;
    width: 310px;
    height: 80vh;
    position: absolute;
    margin-top: 146px;
    margin-left: 210px;    
}

.celular-frente img {    
    width: 310px;
    height: 80vh;
    position: absolute;   
} 
    
.celular-frente-tela img {    
    width: 200px;
    height: 74vh; 
    position: absolute; 
}    

.container-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid rgb(172, 172, 172) 0.5px;    
    padding: 5px;
    background-color: #fff;    
    width: 100%;
    height: 65vh;
    box-shadow: 10px 5px 20px  rgba(0, 0, 0, 0.75);
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85%;
    max-height: 100vh;    
}

.instagram-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;    
    background-color: #fff;
}

.instagram-logo img {
    max-width: 200px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;     
}

.email {
    background-color: white;
    margin-bottom: 10px;
    background-color: rgb(250, 249, 249);
    border-radius: 2px;
}

input {
    background-color: rgb(250, 249, 249);
    width: 260px;
    height: 30px;
    outline: none;
    border: solid rgb(172, 172, 172) 0.5px;      
    border-radius: 4px;    
    font-size: 11px;    
    padding-left: 5px ;
}

.senha {
    background-color: white;
    margin-bottom: 10px; 
    border: none;       
}

#cadastro::placeholder {
    color: rgb(122, 122, 116);
}

#senha::placeholder {
    color: rgb(122, 122, 116);
}

.button {    
    width: 265px;
    height: 30px;
    margin-bottom: 10px;
    background-color: rgba(157, 223, 251, 0.956);
    color: #fff;   
    font-weight: bolder; 
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;        
}

.line-ou {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(122, 122, 116);
}

hr {
    width: 110px;
}

.conta-face {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}

.conta-face a {
    display: flex;
    justify-items: center;
    justify-content: center;
    color: rgb(34, 34, 190);
    font-size: 15px;
    margin-bottom: 10px; 
    margin-top: 15px;   
}

a {
    text-decoration: none;
}

.conta-face img {
    max-width: 16px;
    margin-right: 6px;
}

.login-face a {
    color: darkblue;
    font-weight: bolder;
    font-size: 13px;
}

.esqueceu-senha a {
    color: rgb(69, 69, 69);
    font-size: 12px;
}

.conta-face span {
    padding: 5px;
}

.box-cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid rgb(172, 172, 172) 0.5px;    
    background-color: #fff;    
    width: 104%;
    height: 8vh;
    margin-top: 10px;
    box-shadow: 10px 5px 20px  rgba(0, 0, 0, 0.75);
}

.box-cadastro span {
    align-items: center;
    margin-top: 15px;
    font-size: 13px;
}

.box-cadastro span a {
    color: rgb(78, 151, 255);
    font-weight: bold;
}

.app {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 15px;    
}

.app-img {    
    padding-right: 05px;    
}

.app-img img {
    max-width: 120px;
    max-height: 50px;
}